<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="author" content="ThemeZaa">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <meta name="description" content="Litho is a clean and modern design, BootStrap 4 responsive, business and portfolio multipurpose HTML5 template with 36+ ready homepage demos.">
        
        <!-- style sheets and font icons  -->
        <link rel="stylesheet" type="text/css" href="css/font-icons.min.css">
        <link rel="stylesheet" type="text/css" href="css/theme-vendors.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/responsive.css" />
          <title>Capoeira School Tracker</title>
      </head>
<body>
<!-- start header -->
<header>
    <!-- start navigation -->
    <nav class="navbar top-space navbar-expand-lg navbar-boxed navbar-dark bg-black header-dark fixed-top responsive-sticky">
      <div class="container-fluid nav-header-container">
          <div class="col-auto col-sm-6 col-lg-2 mr-auto pl-lg-0">
              <a class="navbar-brand" href="index.html">
                  <img src="images/logo-white.png" data-at2x="images/logo-white@2x.png" class="default-logo" alt="">
                  <img src="images/logo-white.png" data-at2x="images/logo-white@2x.png" class="alt-logo" alt="">
                  <img src="images/logo-white.png" data-at2x="images/logo-white@2x.png" class="mobile-logo" alt="">
              </a>
          </div>
          <div class="col-auto menu-order px-lg-0">
              <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                  <span class="navbar-toggler-line"></span>
                  <span class="navbar-toggler-line"></span>
                  <span class="navbar-toggler-line"></span>
                  <span class="navbar-toggler-line"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                  <ul class="navbar-nav alt-font">
                      <li class="nav-item dropdown megamenu">
                          <a href="/:id" class="nav-link">Profile</a>
                      </li>
                      <li class="nav-item dropdown simple-dropdown">
                          <a href="/members" class="nav-link">Members</a>
                      </li>
                      <li class="nav-item dropdown simple-dropdown">
                          <a href="/memberships" class="nav-link">Memberships</a>
                      </li>
                      <li class="nav-item dropdown megamenu">
                          <a href="/locations" class="nav-link">Locations</a>
                      </li>
                      <li class="nav-item dropdown simple-dropdown">
                          <a href="/classes" class="nav-link">Classes</a>
                          </li>
                      <li class="nav-item dropdown simple-dropdown">
                          <a href="/calendar" class="nav-link">Calendar</a>
                          </li>
                      <li class="nav-item dropdown megamenu">
                          <a href="/logout" class="nav-link">Logout</a>
                          </li>
                  </ul>
              </div>
          </div>
    </nav>
  <!-- end navigation -->
  </header>
  <!-- end header -->
    <h2>CALENDAR</h2>

    <div class="calendar-container">
        <% for(let month = 0; month < calendar.length;month++) { %>

        <div class="month-container" id="<%= months[month] %>">
            <h3 style="text-align: center;"> <%= months[month] %> </h3>


            <div class="day-of-week">
                <span>Sun</span><span>Mon</span><span>Tue</span><span>
                    Wed</span><span>Thu</span><span>Fri</span><span>Sat</span>
            </div>
            <% for(let x = 0;x < calendar[month].length;x++) { %>
            <div class="days">
                <% for(let y = 0;y < calendar[month][x].length;y++) { %>

                <div class="date">
                    <div id="<%=calendar[month][x][y] %>">
                        <%= calendar[month][x][y] %>
                    </div>
                </div>

                <% } %>
            </div>
            <% } %>
        </div>

        <% } %>
    </div>
</body>
</html>