<!DOCTYPE html>
<html lang="en">
<!-- start header -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="ThemeZaa">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
    <meta name="description" content="Litho is a clean and modern design, BootStrap 4 responsive, business and portfolio multipurpose HTML5 template with 36+ ready homepage demos.">
    
    <!-- style sheets and font icons  -->
    <link rel="stylesheet" type="text/css" href="css/font-icons.min.css">
    <link rel="stylesheet" type="text/css" href="css/theme-vendors.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/responsive.css" />
      <title>Capoeira School Tracker</title>
  </head>
<body>
  <!-- start header -->
  <header>
    <!-- start navigation -->
    <nav class="navbar top-space navbar-expand-lg navbar-boxed navbar-dark bg-black header-dark fixed-top responsive-sticky">
      <div class="container-fluid nav-header-container">
          <div class="col-auto col-sm-6 col-lg-2 mr-auto pl-lg-0">
              <a class="navbar-brand" href="index.html">
                  <img src="images/logo-white.png" data-at2x="images/logo-white@2x.png" class="default-logo" alt="">
                  <img src="images/logo-white.png" data-at2x="images/logo-white@2x.png" class="alt-logo" alt="">
                  <img src="images/logo-white.png" data-at2x="images/logo-white@2x.png" class="mobile-logo" alt="">
              </a>
          </div>
          <div class="col-auto menu-order px-lg-0">
              <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                  <span class="navbar-toggler-line"></span>
                  <span class="navbar-toggler-line"></span>
                  <span class="navbar-toggler-line"></span>
                  <span class="navbar-toggler-line"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                  <ul class="navbar-nav alt-font">
                      <li class="nav-item dropdown megamenu">
                          <a href="/:id" class="nav-link">Profile</a>
                      </li>
                      <li class="nav-item dropdown simple-dropdown">
                          <a href="/members" class="nav-link">Members</a>
                      </li>
                      <li class="nav-item dropdown simple-dropdown">
                          <a href="/memberships" class="nav-link">Memberships</a>
                      </li>
                      <li class="nav-item dropdown megamenu">
                          <a href="/locations" class="nav-link">Locations</a>
                      </li>
                      <li class="nav-item dropdown simple-dropdown">
                          <a href="/classes" class="nav-link">Classes</a>
                          </li>
                      <li class="nav-item dropdown simple-dropdown">
                          <a href="/calendar" class="nav-link">Calendar</a>
                          </li>
                      <li class="nav-item dropdown megamenu">
                          <a href="/logout" class="nav-link">Logout</a>
                          </li>
                  </ul>
              </div>
          </div>
    </nav>
  <!-- end navigation -->
  </header>
  <!-- end header -->
    <h1>Locations</h1>
    <button id="edit">Add New Location</button>
    <form id="newLocation" action="/newLocation" method="post" class="hide">
        <label>Name</label>
        <input type="text" name="name" id="name">
        <label>Address</label>
        <div id="address">
            <label for="number">Number</label>
            <input type="text" name="number" id="number">
            <label for="street">Street</label>
            <input type="text" name="street" id="street">
            <label for="city">City</label>
            <input type="text" name="city" id="city">
            <label for="state">State</label>
            <input type="text" name="state" id="state">
            <label for="zip">Zip Code:</label>
            <input type="text" name="zip" id="zip">
        </div>
        <button id="submitLocation">Submit</button>
        <button type="button" id="cancel">Cancel</button>
    </form>
    <table class="locations">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Days</th>
            <th>Time</th>
        </tr>
        <% for (i = 0; i < locations.length; i++) { %>
            <tr>
                <td><h4 class="locationsName"><%= locations[i].name %></span></h4></td>
                <td><h4 class="locationsAddress"><%= `${locations[i].address.number} ${locations[i].address.street} ${locations[i].address.city}, ${locations[i].address.state}, ${locations[i].address.zip}` %></h4></td>
                <td><h4 class="locationsDuration">BEEP</h4></td>
            </tr>
        <% } %>
    </table>
    <script type="text/javascript" src="js/locations.js"></script>
</body>
</html>