<!doctype html>
<html>
<head>
    <title>Capoeira School Tracker</title>
    <link rel="stylesheet" type="text/css" href="css/font-icons.min.css">
    <link rel="stylesheet" type="text/css" href="css/theme-vendors.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="css/override.css" />
</head>
<body>
    <section class="big-section cover-background wow animate__fadeIn" style="background-image:url('https://placehold.it/1920x745');">
        <div class="container">
            <div class="row m-0 justify-content-center">
                <div class="col-12 col-xl-10 col-lg-11 bg-white box-shadow-large">
                    <div class="row">
                        <div class="col-12 col-md-6 cover-background sm-h-350px" style="background-image:url('https://placehold.it/800x838');"></div>
                        <div class="col-12 col-md-6 padding-6-rem-all lg-padding-5-rem-all md-padding-3-rem-all sm-padding-5-rem-all xs-padding-3-half-rem-all">
                            <h5 class="alt-font font-weight-700 text-extra-dark-gray text-uppercase margin-20px-bottom">Sign Up</h5>
                            <form action="/signup" method="post" class="margin-10px-top d-inline-block w-100">
                                <input class="bg-light-gray border-radius-4px border-0 medium-input margin-20px-bottom required" type="text" name="first" placeholder="First name" />
                                <input class="bg-light-gray border-radius-4px border-0 medium-input margin-20px-bottom required" type="text" name="last" placeholder="Last name" />
                                <input class="bg-light-gray border-radius-4px border-0 medium-input margin-20px-bottom required" type="text" name="username" placeholder="Username" />
                                <input class="bg-light-gray border-radius-4px border-0 medium-input margin-20px-bottom required" type="email" name="email" placeholder="Email Address" />
                                <input class="bg-light-gray border-radius-4px border-0 medium-input margin-20px-bottom required" type="password" name="password" placeholder="Password" />
                                <input type="hidden" name="redirect" value="">
                                <button class="btn btn-large btn-gradient-tan-geraldine btn-round-edge w-100 mb-0 submit" type="submit">get started now</button>
                                <p class="already-have-an-account">Already have an account? <button class="btn btn-large btn-gradient-tan-geraldine btn-round-edge w-100 mb-0 submit"><a class="login" href="/login">Login</a></button></p>
                                <p class="or-go-home"><a href="/" class="btn btn-warning btn-lg">home</a>.</p>
                                <div class="form-results border-radius-4px d-none"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
